/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */

body {
    width: 950px;
    margin: auto;
<<<<<<< HEAD
    background-color: blue;
=======
>>>>>>> 3f50ff0523676a66f7e9d282b6aad397067975bd
}
#cart {
    float: right;
}
<<<<<<< HEAD
#topmenu li {
    display: inline;
    padding-right:10px;
=======
#links li {
    display: inline;
>>>>>>> 3f50ff0523676a66f7e9d282b6aad397067975bd
}
